.create-comment-title{
    align-self: left;
}


input{
    
    max-width: 774px;
    min-width: 774px;
    max-height: 114px;
    min-height: 50px;
}

.comment-btn:hover{
    font-size: 0.7em;
    background: linear-gradient(94.59deg, #FFC529 7.45%, #FFA800 90.71%);
    border-radius: 20px;
    color: rgba(255, 255, 255);
    width: 30vw;
    height: 6vh;
    border-radius: 20px;
    font-family: poppins;
    font-weight: 800;
    border: none;
}

.comment-btn{
    font-size: 0.7em;
    background: linear-gradient(94.59deg, #FFC529 7.45%, #FFA800 90.71%);
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.384);
    width: 30vw;
    height: 6vh;
    border-radius: 20px;
    font-family: poppins;
    font-weight: 800;
    border: none;
}