.post-title-btn{
background-color: #83bfcd;
width: 100%;
padding: 5%;
font-size: 1em;
align-items: center;
outline: #83bfcd;
border-width: 0px 0px 1px 0;
border-color: white;
color: white;
font-weight: 800;
text-align: left
}


.post{
    align-items: center;
    border-radius: 5px;
    width: 100%;
      margin-left: -20px;
        position: relative;
}
.post-author{
    margin-top: 0;
    color: coral
}
.post-author-container{
  width: 25%;
  padding-left: 0.5em;
  border-radius: 20px;
  background-color: white
}
.post-content{

  font-size: 0.7em;
  text-align: left;
  padding: 3.3%
}

.container-post {
  width: 100%;
  height: 100%;
  align-items: center;
}

