.App {
  text-align: center;
  font-family: poppins;
}

html {
  min-height: 100%;
  background: rgba(33, 158, 188, 1);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  max-width: 800px;
  margin: auto;
}

.home-container {
  display: flex;
  flex-direction: row;
  background-color: #83bfcd;
  justify-content: center;
}

.duck-container {
  padding: 16px;
  align-content: center;
  position: relative;
  text-align: center;
}

.duck-img {
  width: 100%;
}
