

.App {
  text-align: center;
}

.App-header {
  background: rgba(33, 158, 188, 1);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.angry-duck-btn {
  background: linear-gradient(94.59deg, #FE9D4B 7.45%, #F17105 90.71%);
    border-radius: 20px;
      width: 20vw;
      height: 10vh;
  padding: 2em;
      color: white;
}

.home-container{
background-color: grey;
display: flex;
flex-direction: row;
width: 50vw;
height: 50vh;
justify-content: center;
}

.angry-duck-container{
  background-color: black ;

}
.anon-duck-container {
  background-color: blue;
}