

.App {
  text-align: center;
  font-family: poppins;
}

.App-header {
  background: rgba(33, 158, 188, 1);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.angry-duck-btn {
  background: linear-gradient(94.59deg, #FE9D4B 7.45%, #F17105 90.71%);
  border-radius: 20px;
  width: 20vw;
  height: 10vh;
  color: white;
  font-family: poppins;
  font-size: 1em;
  
 
}

.home-container{

display: flex;
flex-direction: row;
background-color: #83bfcd;
width: 60vw;
height: 50vh;
justify-content: center;
}

.home-h2{
  font-size: 1em;
}

.home-desc{
  font-size: 0.7em;
}

.content-wrapper{
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: inline-block;
}

.angry-duck-container{
  padding: 10px;
  width: 100vw;
  align-content: center;
  position: relative;

}
.angry-duck-container:hover{
  padding: 10px;
  width: 100vw;
  align-content: center;
  outline: auto;
  position: relative;

}


.anon-duck-container {
  
  padding: 10px;
  width: 100vw;
  align-content: center;
  position: relative;
}

.anon-duck-container:hover {
  outline: auto;
  padding: 10px;
  width: 100vw;
  align-content: center;
  position: relative;
}

.duck-img{
  width: 60vw;
}